body{
    background-color:aqua
}

button{
    border-radius: 2em;
    padding: 1em 2em;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}