:root {
    --background-card: hsl(0, 0%, 100%);
    --background-body: hsl(212, 45%, 89%);
    --backgroundColor-img: hsl(220, 15%, 55%);
    --background-QR: hsl(218, 44%, 22%);

    --all-write: 'Outfit', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-size: 15px;
    min-height: 100vh;
    background-color: var(--background-body);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 25rem;
}



.d-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5em;
}

.d-flex {
    display: flex;
    flex-direction: column;
    max-width: 25em;
}

.card {
    background-color: var(--background-card);
    padding: 1.3em;
    border-radius: 1em;
}

.img-card img {
    border-radius: 1em;
}

.img-information {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
}

.img-information h1 {
    padding: 0.5em 0 1em 0;

    font-family: var(--all-write);
    font-size: 1.3rem;
    font-weight: 700;

    color: var(--background-QR);
}

.img-information p {
    font-family: var(--all-write);
    font-weight: 400;
    font-size: 0.9rem;
    /* padding-bottom: 1em; */
    padding: 0 0.5em;

    color: var(--backgroundColor-img);
}

@media (min-width: 66.13rem) {
    .container {
        max-width: 91.73rem;
    }

    .img-information h1 {
        font-size: 1.5rem;
    }


    .img-information p {
        font-size: 1.1rem;
    }
}