:root {
    /* Primary */
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /* Neutral */
    --main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    --ff-primary: 'Inter', sans-serif;
    --ff-accent: 'Lexend Deca', sans-serif;


}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    font-size: 15px;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
p {
    color: var(--main-heading);
}

.color-focus {
    /* color: rgba(166, 53, 170, 0.753); */
    color: var(--accent);
}

.container {
    max-width: 25rem;
    margin: 0 auto;
    background-color: var(--main-background);
}

.d-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 1em 1em;
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.style-card {
    border-radius: 1em;
    background-color: var(--card-background);
}

@media (max-width: 991px) {

    .img-card,
    img {
        border-radius: 1em 1em 0 0;
    }

    .desk-img {
        display: none;
    }


}

.img-card {
    background-color: rgba(138, 10, 177, 0.829);
    width: 100%;
}

.img-card img {
    opacity: 0.6;
    filter: contrast(160%);
    filter: saturate(250%);
}

.text-card {
    text-align: center;
    padding: 0 2em 0em;
}

.text-card h2 {
    font-family: var(--ff-accent);
    color: var(--main-heading);
    padding: 1em 0 1em 0;
    font-size: 1.8rem;
}

.text-card p {
    font-family: var(--ff-primary);
    color: var(--stat-headings);
    line-height: 1.6;
}

.info-card {
    padding-top: 1em;
    padding-bottom: 2em;
}

.info-text {
    text-align: center;

}

.info-text h2 {
    font-family: var(--ff-accent);
    color: var(--main-heading);
    padding: 1em 0 0 0;
}

.info-text p {
    font-family: var(--ff-primary);
    color: var(--stat-headings);
    text-transform: uppercase;
    letter-spacing: 0.1rem;

}